[user]
  name = thieleju
  email = thiele.juli@gmail.com
  signingkey = INSERT_KEY_HERE

[core]
  editor = nvim
  eol = lf
  autocrlf = false

[color]
  ui = auto

[push]
  rebase = false
  followTags = true
  autoSetupRemote = true
  default = matching

[pull]
  rebase = false

[alias]
  adog = log --all --decorate --oneline --graph

[commit]
  gpgsign = true

[gpg]
  program = gpg


