[user]
	name = thieleju
	email = thiele.juli@gmail.com
  signingkey = INSERT_KEY_HERE

[core]
  editor = nvim
  eol = lf
  autocrlf = false

[color]
  ui = auto

[push]
  rebase = false

[pull]
  rebase = false

[commit]
  gpgsign = true

[gpg]
  program = gpg


